@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

*{
    font-family:'Arima', cursive,"Trebuchet MS";
    font-size:14px;
}

body{
    margin:0;
    overflow:hidden;
    background-image:url(../capture2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#1b1b1b;
    background-blend-mode:darken;
    animation:fluid .5s 1;
    zoom:0.9;
}

@keyframes fluid{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    width:10px;
    border:1px solid #1b1b1b;
}

::-webkit-scrollbar-thumb{
   background-color:greenyellow;
   border-radius:5px;
}

.loader-div{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#1b1b1b;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loader-div .loader{
   border:5px solid yellow;
   border-top:5px solid transparent;
   border-bottom:5px solid transparent;
   width:100px;
   height:100px;
   border-radius:100%;
   animation:rotate 0.5s linear infinite;
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

nav{
    /* background-color:#222; */
    position:absolute;
    width:100%;
    top:0;
    left:0;
    padding:0;
    height:8%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border:1px solid white; */
}

nav span{
    color:white;
}

nav div{
    color:yellowgreen;
    display:flex;
    align-items:center;
    padding:0 40px;
}

nav div i{
    font-size:40px;
    margin:0 10px;
}

nav div span{
    font-size:30px;
    margin:0 10px;
}

nav div span::first-letter{
    color:white;
    font-size:40px;
    font-weight:bold;
}

nav ul{
    padding:0;
    margin:0;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    /* border:1px solid white; */
    width:100%;
}

nav ul li{
    list-style-type:none;
    padding:5px 10px;
    margin:0 25px;
    border-radius:5px;
    cursor:pointer;
    transition: all 0.3s;
}

nav ul li a{
    text-decoration:none;
    color:yellow;
}


nav ul li:hover{
   background-color:yellow;
}

nav ul li:hover a{
    color:#1b1b1b;
}


nav span button{
    border:1px solid grey;
    border-radius:3px;
    cursor:pointer;
}

.app{
    /* background-color:#1b1b1b; */
    position:absolute;
    top:8%;
    width:100%;
    height:92%;
}

.app center h1{
    color:yellow;
}

.app .dashboard{
  position:relative;
  position:absolute;
  background:#1b1b1b;
  width:100%;
  height:100%;
}

form{
  width:40%;
  margin:30px auto;
  border:1px solid #333;
  color:white;
  padding:20px;
  border-radius:3px;
}

form div{
   margin-bottom:10px;
}

form div label,form div input{
    display:block;
}

form div label{
  margin-bottom:7px;
  color:lightgrey;
}

form div input{
    width:100%;
    padding:8px 0;
    text-indent:12px;
    background-color:#333;
    border-radius:3px;
    border:1px solid #555;
    outline:1px solid #222;
    color:lightgrey;
}

form div button{
    padding:8px;
    background-color:yellow;
    border-radius:3px;
    font-weight:bold;
    border:2px solid yellow;
}

button{
    cursor:pointer;
}


.welcome{
    display:flex;
    height:100%;
}

.welcome .first{
   /* border:1px solid white; */
   padding:80px;
}

.welcome .first h1{
    margin-top:80px;
    color:yellowgreen;
    font-size:50px;
 }

 .welcome .first div button{
   padding:15px 80px;
   background-color:yellow;
   border-radius:3px;
   font-weight:bolder;
 }

.welcome .second{
    padding:40px;
    width:50%;
    /* border:1px solid white; */
    position: relative;
}

.welcome .second .img{
    background-image: url(../Capture.JPG);
    background-size:contain;
    background-repeat: no-repeat;
    margin-top:60px;
    box-shadow:0 0 10px 10px darkgreen;
    /* background-position:center center; */
    width:100%;
    height:400px;
    border-radius:10px;
    /* border:1px solid white; */
}

#loginInfo{
    margin:0 auto;
    border:1px solid #555;
    width:42%;
    text-align:center;
    color:white;
    border-radius:4px;
}

#loginInfo div{
    border-top:1px solid #555;
}

